<div class="container mx-auto p-8">
  <h1 class="text-3xl font-bold mb-4"><%= @article.title %></h1>

  <p class="mb-4"><%= @article.body %></p>

  <ul class="flex space-x-4 mb-4">
    <li>
      <%= link_to "Edit", edit_article_path(@article), class: "text-blue-500 hover:underline" %>
    </li>
    <li>
      <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "text-red-500 hover:underline" %>
    </li>
  </ul>

  <h2 class="text-2xl font-bold mb-2">Comments</h2>
  <%= render @article.comments %>

  <h2 class="text-2xl font-bold mb-2">Add a comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to "Back", articles_path, class: "text-blue-500 hover:underline" %>
</div>
